<%- include('header'); -%>

    <body>
        <div class="form">
            <form action="/" method="post">
                <div class="form-head">
                    <h1 class="form-head_title">
                        <%= kindOfDay %>
                    </h1>
                </div>
                <div class="form-body">
                    <ul class="form-body_list">

                        <!-- <% items.forEach(function(item){ %>
                            <li>
                                <div class="list-items">
                                    <div class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="label-text">
                                            <%= item %>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <% }) %> -->

                        <!-- Nothing with this code just refactor to forEach -->
                        <% for(i=0;i<items.length; i++){ %>
                            <li>
                                <div class="list-items">
                                    <div class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="label-text">
                                            <%= items[i] %>
                                        </span>
                                    </div>

                                </div>

                            </li>
                            <% } %>

                    </ul>
                    <div class="form-body_new-item">
                        <input type="text" name="todo" id="todo" placeholder="New Item" required class="new-item"
                            autocomplete="off">
                        <button type="submit" class="btn-submit" name="list" value=<%=kindOfDay %>>+</button>

                    </div>
                </div>
            </form>

        </div>

    </body>


    <%- include('footer'); -%>